{% extends "_layouts/site" %}

{% block content %}

<!-- ======= spacing ======= -->
<section class="breadcrumbs" style="background:none">
    
</section>
<!-- End spacing -->

<!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts blog">

        <div class="container" data-aos="fade-up">

        <header class="section-header">
            {{entry.pageHeading}}
        </header>

        {# paginate and filter out draft missions #}
        {# missionStatus: "!=" ~ 'Draft' #}

        {% paginate craft.entries({
            section: 'missions', 
            missionStatus: "!=" ~ 'Draft',
            denied: false
        }).limit(paginationLimit.paginationLimit) as pageInfo, missionEntries %}
        
        <div class="row">
            {% for mission in missionEntries %}

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="post-box">
                        {% set image = mission.missionImage.one().getUrl({ quality:65, width:750, height: 500}) ?? imageFallback.imageFallback.one().getUrl({ quality:65, width:750, height: 500}) %}
                        <div class="post-img"><img src="{{ image }}" class="img-fluid" alt="{{mission.missionTitle}}" /></div>
                        <span class="post-date">{{mission.deadline | date('D, F j Y')}}</span>
                        <h3 class="post-title margin-reset">{{mission.missionTitle}}</h3>
                        <p class="badges">
                            {% for tag in mission.tagField.all() %}
                                <span class="badge badge-primary">{{tag.title}}</span>
                            {% endfor %}
                        </p>
                        <div class="entry-content">
                        <p>
                            {{mission.shortDescription}}
                        </p>
                    </div>
                        <a href="{{ mission.url }}" class="readmore stretched-link mt-auto"><span>{{'Read More'|t}}</span><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

            {% endfor %}

            {% include "_includes/components/pagination.twig" with {
              pageInfo
            } %}

        </div>

    </section>
    <!-- End Recent Blog Posts Section -->

{% endblock %}