{% extends "_layouts/base" %}

{% block body %}

    <body class="home-page">
        <div class="wrapper">
            <header class="header">
                <div class="header__content content-column">
                    <a href="{{ siteUrl }}" class="logo">
                        <img src="{{ siteUrl }}assets/images/logo.svg" alt="Motoventure" />
                    </a>

                    <button type="button" class="nav-toggle">
                        <img src="{{ siteUrl }}assets/images/list.svg" alt="Menu" class="icon-open-menu" />
                        <img src="{{ siteUrl }}assets/images/x.svg" alt="Close Menu" class="icon-close-menu" />
                    </button>

                    <nav class="nav">

                        {% set menu = header.menu.all() %}
                        {% for menuItem in menu %}
                            {% set destination = menuItem.entry.one() %}
                            {% set activeLink = (craft.app.request.segments|first == destination.uri) or (craft.app.request.segments|first == false and destination.uri == '__home__') %}                   
                            <a href="{{ destination.url }}" class="nav__link {{ activeLink  ? 'nav__link--active' }}">{{ menuItem.label }}</a>
                        {% endfor %}

                    </nav>
                </div>
            </header>
        </div>

        {% block content %}{% endblock %}

        <footer class="footer">
            <div class="content-column centered">
                <p>{{footer.disclaimer|raw}}</p>
            </div>
        </footer>

        <script src="{{ siteUrl }}assets/js/scripts.js"></script>
    </body>

{% endblock %}
